$header-height: 350px;

@mixin username-indicator(){
  background:rgba(255,255,255,0.5);
  border-radius: 6px;
  bottom: 0;
  font-size: 16px;
  padding: 6px;
  position: absolute;
  text-align: center;
  z-index: $login-details-header-zindex;
}

.cover {
  background-image: url( '../images/cover.jpg' );
  background-position: center center;
  background-repeat: no-repeat;
  height: $header-height;
  left: 0;
  position: absolute;
  width: 100%;

  .arrow {
    background-image: url( '../images/arrow.png' );
    background-repeat:no-repeat;
    background-size: contain;
    height: 11px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: $header-height - 20px;
    width: 15.5px;
  }
  .heading {
    -webkit-user-select: none;
    color: $header-central-text-color;
    font-size: 50px;
    font-weight: 700;
    left: calc(50% - 370px);
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    top: calc(50% - 35px);
    user-select: none;
    z-index: $header-central-text-zindex;
  }

  .login-details {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: $login-details-header-zindex;
    .username {
      @include username-indicator();
      right: 100px;
      width: 170px;
    }
    .logout-link {
      @include username-indicator();
      margin-right: 20px;
      right: 270px;
      width: 80px;
    }
  }
}

.space-keeper {
  height: $header-height;
  position: relative;
}
