.privacy-wrapper {
  .heading {
    display: block;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .description {
    padding: 0 10px;
    div {
      padding: 10px 0;
      text-align: justify;
      &::first-letter {
        font-weight: 600;
      }
    }
  }
}