$bartotalmonth-bg-color: #FFE4A5;
$black-plane-color: #000;
$footer-font-color: #fff;
$hamburger-btn-color: rgba(255, 255, 255, 0.5);
$hamburger-item-hover: #A342B1;
$hamburger-menu-color: #fff;
$header-central-text-color: #fff;
$pietotalsales-bg-color: #00C47D;
$submitted-msg: green;
$toporders-bg-color: #667B8B;
$topsalesmen-bg-color: #003797;
$white-plane-color: #fff;
