$big-z-index: 1000;
$black-plane-zindex: 29;
$footer-zindex: 20;
$hambuerger-menu-zindex: 7;
$hamburger-arrow-zindex: 1;
$header-central-text-zindex: 1600;
$login-details-header-zindex: 20;
$refresh-btn-z-index: 5;
$white-plane-zindex: 30;
