<footer id="footer" class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul>
      <li id="privacy_footer"
          data-ng-click="footerCtrl.privacy()"
      >
        <a href="">Privacy Policy</a>
      </li>

      <li id="terms_footer"
          data-ng-click="footerCtrl.terms()"
      >
        <a href="">Terms of Use</a>
      </li>

      <li id="support_footer"
          data-ng-click="footerCtrl.support()"
      >
        <a href="">Support</a>
      </li>
    </ul>
  </div>
</footer>
