<div class="privacy-wrapper">
  <div class="heading">Privacy Policy</div>

  <div class="description">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam aut commodi eius, esse illo
      ipsa maxime minus non, nulla officiis provident quaerat quia sapiente sed velit voluptates voluptatibus?
      Assumenda!
    </div>
    <div>Alias assumenda consequatur dolorem ea est exercitationem explicabo, fugit harum impedit, iste itaque iusto
      laborum necessitatibus nihil nostrum odio omnis provident quidem quis rem repellat sapiente sint tempore ut
      veniam.
    </div>
    <div>Architecto assumenda blanditiis delectus ea eaque est et eum exercitationem ipsa, ipsam iure magnam magni
      neque nihil nobis non obcaecati pariatur perferendis quam qui repellendus sit tempora tenetur, unde vero.
    </div>
    <div>Accusantium delectus dolorem dolorum ducimus hic incidunt, ipsa itaque nemo quae repellendus totam velit.
      Ab accusantium assumenda beatae, culpa cumque ipsum, magnam, maxime nemo officiis perspiciatis placeat saepe
      vel voluptates?
    </div>
  </div>
</div>
